
<H1 style="text-align:center">Chuck Norris Challenge</H1>

<div id="userName"></div>
    <h1> Hello, <%= userName %> </h1>
<br>

<div id="jokeLists">

    <% for(var i = 0; i < 1; i++){ %>
        
    <% } %>

</div>

<a href="/user/logout">Logout</a>