
<H1 style="text-align:center">Chuck Norris Challenge</H1>

<div id="userName"></div>
    <h1> Hello, <%= userName %> </h1>
<br>

<div id="jokeLists">

    <% include ./partials/messages %>

</div>

<a style="text-align:center" href="/user/logout">Logout</a>