
<H1 style="text-align:center">Chuck Norris Challenge</H1>

<h1 class="nameTitle"> Hello, <%= userName %> </h1>

<div id="jokeLists">

    <% include ./partials/messages %>

</div>

<br>

<div style="text-align:center;margin-bottom:5%"><a href="/user/logout" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Log Out</a></div>