
<H1 style="text-align:center">Chuck Norris Challenge</H1>

<div id="userName"></div>
    <h1> Hello, <%= userName %> </h1>
<br>

<div id="jokeLists">

    <% include ./partials/messages %>

</div>

<br>

<div style="text-align:center"><a href="/user/logout" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Log Out</a></div>