
<h1 style="text-align:center">Chuck Norris Project</h1>
<h1 style="text-align:center">Register</h1>

<% include ./partials/messages %>

<div class="container-fluid logForm">
    <form action="/user/register" method="post">
        <div class="form-group row justify-content-center">
            <div class="col-xs-3 col-md-2"><label for="userName">User Name : </label></div>
            <div class="col-xs-9 col-md-5"><input type="text" class="form-control" name="username" placeholder="Enter User Name" value="<%= typeof userName != 'undefined' ? userName : ''%>"></div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-xs-3 col-md-2"><label for="exampleInputPassword1">Password : </label></div>
            <div class="col-xs-9 col-md-5"><input type="password" class="form-control" name="password" placeholder="Password"></div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-success">Submit</button>        
        </div>
        
    </form>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="passwordRules alert alert-primary" role="alert">
                    <h4 class="alert-heading">Password requirements : </h4>
                        <p>Passwords must include one increasing straight of at least three letters, like ‘abc’, ‘cde’, ‘fgh’, and so on, up to ‘xyz’.</p><hr>
                        <p>Passwords can't contain the letters i, O, or l, as these letters can be mistaken for other characters and are therefore be confusing.</p><hr>
                        <p>Passwords must contain at least two non-overlapping pairs of letters, like : aa, bb, or cc.</p><hr>
                        <p>Passwords cannot be longer than 32 characters and should be at least 6 characters long.</p>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center" class="redirectLinks">
    
    <p><a href="/user/register">Register</a>   |   <a href="/user/login">Log In</a></p>
    
</div>